.toast {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%) translateY(100px);
  padding: 16px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 250ms ease-out, transform 250ms ease-out;
}

.success {
  background-color: #22c55e;
}

.error {
  background-color: #ef4444;
}

.toast.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
}
.toast.hidden {
  opacity: 0;
  transform: translateX(-50%) translateY(100px);
}
