.detailContainer {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.detailHeader {
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
}

.detailList {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 16px;
  max-width: 600px;
}

.detailListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.textContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
.itemHeading {
  flex-shrink: 0;
  font-size: 16px;
  font-weight: bold;
}

.listItemText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detailTextContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
.detailTextarea {
  border: solid 0.5px;
  white-space: pre-wrap;
}

.checkbox {
  -webkit-appearance: "auto";
  appearance: auto;
}

.returnLink {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex-shrink: 0;
  color: black;
  background-color: rgb(221, 220, 219);
}
