.title {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
.todoContainer {
  padding: 10px 40px;
}

.inputArea {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.taskForm {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #0070f3;
}

.addButton {
  padding: 5px 10px;
  font-size: 14px;
  color: white;
  background-color: #0070f3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addButton:hover {
  background-color: #005bb5;
}

.taskList {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 600px;
}
.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.deletButton {
  padding: 6px 12px;
  font-size: 14px;
  color: white;
  background-color: #e63946;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deletButton:hover {
  background-color: #d62828;
}
