.title {
  font-size: 26px;
  text-align: center;
  padding: 8px;
  font-weight: bold;
}

.inputArea {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.taskForm {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input {
  padding: 4px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #0070f3;
}

.addButton {
  padding: 5px 10px;
  font-size: 14px;
  color: white;
  background-color: #0070f3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.taskList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  gap: 8px;
  max-width: 600px;
}
.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.listItemText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.deleteButton {
  padding: 5px 10px;
  font-size: 14px;
  color: white;
  background-color: #e63946;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex-shrink: 0;
}

@media (hover: hover) {
  .addButton:enabled:hover {
    background-color: #005bb5;
  }
  .deleteButton:enabled:hover {
    background-color: #d62828;
  }
}
